﻿@model SpendOMeter.ViewModels.ChartViewModel

@{
    //using System.Web.UI.DataVisualization.Charting;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BudgetChartView</title>
</head>
<body>
    <div>
         
        @{ 
            @Model.Chart.Write(format: "png")
            // System.Web.UI.DataVisualization.Charting chart1 = new System.Web.UI.DataVisualization.Charting.ch            
        }
    </div>
</body>
</html>
