﻿@model SpendOMeter.ViewModels.PaymentsViewModel

@{
    ViewBag.Title = "Payments";
}

<h2>Index</h2>

<a href="@Url.Action("Create", "Payments")" class="btn btn-warning" style="float: right;">
    <div class="glyphicon glyphicon-plus-sign" aria-hidden="true"></div>
</a>

@{
    ViewBag.Title = "WebGrid";
    WebGrid grid = new WebGrid(source: Model.Paymnets, columnNames: new[] { "Amount", "Date", "Id", "Recipient" });
    
    //grid.GetHtml(columns: grid.Columns(
    //    grid.Column(columnName: "Date", header: "Payment Date")
    //    ));
    //   grid.Column("Date", "Payment Date",
    //format: (item) => item.Date.ToString("MM/dd/yy"),
    //canSort: true);


}
@grid.GetHtml(columns: grid.Columns(
        grid.Column(columnName: "Amount", header: "Amount"),
        grid.Column(columnName: "Name", header: "Recipient"),
        grid.Column(columnName: "Date", header: "Date",
        format: (item) => string.Format("{0:MMM-dd-yyyy}", item.Date))
        ))
